@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tiptap-root .ProseMirror {
        outline: none;
    }

    .tiptap-root .ProseMirror p.is-editor-empty:first-child::before {
        content: attr(data-placeholder);
        float: left;
        color: rgb(45 48 71 / 0.38);
        pointer-events: none;
        height: 0;
    }
}
